@import url("styles/header.css");
:root{
    --cor-de-fundo: #89AFE2;
    --branco:#89AFE2;
    
}
body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-weight: 400px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    
}